doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/spectrum.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    script(src='http://code.jquery.com/jquery-2.0.2.js')
    script(src='/socket.io/lib/socket.io.js')
    script(src='/javascripts/socket.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/javascripts/paper-full.js')
    script(src='/javascripts/spectrum.js')
  body
    block content